<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} – Rizzo Family Trip</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>

    {% include header.html %}

  <nav>
    <a href="index.html">Home</a>
    <a href="flights.html">Flights</a>
    <a href="accommodation.html">Stays</a>
    <a href="travel-overview.html">Travel Overview</a>
  </nav>

    <main class="container">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>
</html>

